root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{go,mod,sum,work}]
indent_style = tab

[*.{js,jsx,ts,tsx,json,yaml,yml,md,html,css}]
indent_size = 2

[Makefile]
indent_style = tab
